.right-sidebar {
  width: 0;
  background: #fff;
  border-left: 1px solid #e5e7eb;
  transition: width var(--transition), box-shadow var(--transition);
  overflow: hidden;
  box-shadow: none;
  z-index: 10;
}

.right-sidebar.open {
  width: var(--sidebar-width-expanded);
  box-shadow: var(--shadow);
}

@media (width <= 900px) {
  .right-sidebar.open {
    width: 100vw;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
  }
} 